<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
        {% for restaurante in restaurantes %}
    <div>
            <h1>
            <a href=" {% url 'restaurante' restaurante.get_id %} ">{{restaurante.get_nome}}</a>
            </h1>
            <img src="{{restaurante.get_foto}}">
        </div>
    </div>
        {%endfor%}
</body>
</html>